/__pycache__/*
view/__pycache__/*
view/widgets/__pycache__/*
styles/__pycache__/*
stats/__pycache__/
model/__pycache__/*
.idea/*
*.dem
.vscode
.DS_Store
view/widgets/main/__pycache__/*
view/widgets/panels/__pycache__/*
view/widgets/input/__pycache__/*
controller/__pycache__/*
venv